@using Microsoft.AspNetCore.Authorization;
@model IEnumerable<ContentModel>

@{
    ViewData["Title"] = "Change_Idea_User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>

<h1>Change_Idea_owner</h1>


@foreach (var obj in Model)
{
    <form method="post">
        <div class="card mb-3">
            <img class="img-thumbnail" src="~/Ideas/Images/@obj.IdeaImage" alt="Card image cap" height="300" width="300">
            <div class="card-body">
                <h3 class="card-title">@obj.Title</h3>
                <p class="card-text">@obj.Idea</p>
                <p class="card-text"><small class="text-muted">@obj.CreatedOn</small></p>
                <p class="card-text"><small class="text-muted">@obj.createdby</small></p>
                <a asp-controller="ChangeIdea" asp-action="Change_Idea_User_Update" asp-route-Id="@obj.PostId"> <i class="bi bi-pencil-square"></i>Edit</a>
            </div>
        </div>

    </form>
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
